<z-layout class="min-h-[600px] border rounded-md overflow-hidden">
  <z-header>
    <div class="flex items-center justify-between w-full">
      <div class="font-semibold text-lg flex items-center">
        <span class="ml-2">Rate Exchange App</span>
      </div>
      <div class="flex items-center gap-2">
        <button z-button zType="ghost" zSize="sm">
          <z-icon zType="search" />
        </button>
        <button z-button zType="ghost" zSize="sm">
          <z-icon zType="bell" />
        </button>
      </div>
    </div>
  </z-header>

  <z-layout>
    <z-sidebar [zWidth]="300" class="!p-0">
      <nav class="flex flex-col h-full gap-2 p-4">
        <z-sidebar-group>
          <z-sidebar-group-label class="text-lg mb-3">Menu</z-sidebar-group-label>
          <a z-button [zType]="isActive('/') ? 'secondary' : 'ghost'" class="justify-start mb-2" [routerLink]="['/']">
            Home
          </a>
          <a z-button [zType]="isActive('/calculator') ? 'secondary' : 'ghost'" class="justify-start mb-2" [routerLink]="['/calculator']">
            Calculator
          </a>
          <a z-button [zType]="isActive('/historical-data') ? 'secondary' : 'ghost'" class="justify-start mb-2" [routerLink]="['/historical-data']">
            Historical Data
          </a>
        </z-sidebar-group>

        <div class="mt-auto flex items-center align-middle justify-left gap-2 mb-5 cursor-pointer rounded-md hover:bg-accent"
         z-menu
              [zMenuTriggerFor]="userMenu"
              zPlacement="rightBottom">
          <z-avatar zSize="sm" [zImage]="avatar" />
          <span>Nicki User</span>
        </div>
          <ng-template #userMenu>
            <div z-menu-content class="w-48">
              <div z-menu-item class="text-sm">test&#64;example.com</div>
              <button z-menu-item>
                Profile
              </button>
              <button z-menu-item>
                Settings
              </button>
              <z-divider zSpacing="sm" />
              <button z-menu-item>
                Logout
              </button>
            </div>
          </ng-template>
      </nav>
    </z-sidebar>

    <z-layout>
      <z-content class="min-h-[200px]">
        <router-outlet></router-outlet>
      </z-content>

      <z-footer>
        <div class="flex items-center justify-center w-full text-sm text-muted-foreground">© {{ year }} Nicki</div>
      </z-footer>
    </z-layout>
  </z-layout>
</z-layout>